*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  display: flex;
  background-color: black;
  width: 100vw;
  height: 80px;
  color: white;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
}

.thumbnail {
  height: 200px;
  margin: auto;
}

.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2 1fr);
  justify-content: center;
}

.recipe {
  text-decoration: none;
  text-align: center;
  padding: 10px;
}

.image-links {
  margin: auto;
}